*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section1{
    padding: 4rem 2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   height: 40%;
     
}
body{
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4{
    font-family: "Lora", serif;
    margin-top: 1rem;

}

h1{
    font-size:2.488rem;
    text-align: center;
    margin-bottom: 20px;
}
h2{
    font-size:2.074remm ;
    text-align: center;
    margin-bottom: 20px;

}

h3{
    font-size:1rem ;
    color: rgb(96, 9, 177);
    margin-bottom: 15px;
    
}

p{
    text-align: center;
    font-size:1rem;
    line-height: 150%;
}
a{
    font-size:1rem; 
}
#profileimg{
    border-radius: 50%;
    width: 17%;
    margin: 32px;
}

.backgroundimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}
.section2{
   padding: 24px;
   padding-top: 80px; 
   padding-bottom: 80px;
   background-color: rgb(77, 77, 223);
}

.container1{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.section3{
    background-color: rgb(77, 77, 223);
}

.container2{
    width: 70%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

}
#emailme{
    display: inline-block;
    text-decoration: none;
    color: rgb(83, 83, 246);
}
.featurelists{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}


.keys{
    border: 1px solid whilte ;
    padding:2rem 2rem ;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    text-align: center;
    line-height: 150%;
    background-color: white;
    
}

.container3{
    width:80% ;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.worklists{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;


}

.workslist{
    border:none ;
    border-radius: 5%;
}
.work{
    width: 400px;
    height: 400px;
    border-radius: 5%;
}
.work1{
    grid-column: 1;
    grid-row: 1;
    
}
.work2{
    grid-column: 2;
    grid-row: 1;
    
}
.work3{
    grid-column: 3;
    grid-row: 1;
  
}

.work4{
    grid-column: 1;
    grid-row: 2;
  
}

.work5{
    grid-column: 2;
    grid-row: 2;
   

}

.work6{
    grid-column: 3;
    grid-row: 2;
   
}

.container4{
    width: 70%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.startbutton{
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.startaconversation{
    display: inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid  blueviolet;
    border-radius: 10%;
    background-color: blueviolet ;
    padding: 12px 24px;
    text-align: center;
}
.section6{
    background-color: rgb(7, 7, 47);
    color: white;
    height: 40%;
}
.container5{
    width: 80%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;

    
}
.end{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    gap: 2rem;
    padding: 3rem 2rem;
    margin-bottom: 2rem;
}
#letsdothis{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 1px solid rgb(110, 233, 110);
    border-radius: 5%;
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    

}